body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}
#root {
  height: 100%;
}
