.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.item {
  width: 250px;
  height: 250px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.avatar {
  position: relative;
  top: -20px;
  left: -20px;
  width: 100px;
  height: 100px;
}
.header {
  background-color: rgba(158, 158, 158, 0.80);
  width: 250px;
  height: 60px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
.headerInfo {
  position: relative;
  left: -10px;
}
.displayName {
  font-size: 16pt;
  font-weight: bold;
}
.caption {
  font-size: 12pt;
  font-weight: lighter;
}
.footer {
  background-color: rgba(158, 158, 158, 0.80);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer1 {
  font-size: 16pt;
  font-weight: bold;
}
.footer2 {
  font-size: 10pt;
  font-weight: ligher;
  text-transform: uppercase;
}
.actionButton {
  background-color: red;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  min-width: 100px;
  margin: 10px;
  text-align: center;
}
