.passContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.background {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.passCircle {
  width: 200px;
  height: 200px;
  -moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
  border-width: 5px;
  border-color: #CCCCCC;
  border-style: solid;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
.passHeader {
  background-color: rgba(158, 158, 158, 0.80);
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
}
.passHeader > .passItem {
  width: 60px;
  height: 60px;
  padding: 5px;
}
.passHeader > .title {
  font-size: 16pt;
  font-weight: bold;
}
.passInvitee {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: rgba(158, 158, 158, 1.0);
  -moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  color: white;
}
.inviteOne {
  position: absolute;
  top: -16px;
  left: 8px;
}
.inviteTwo {
  position: absolute;
  top: -16px;
  right: 8px;
}
.inviteThree {
  position: absolute;
  top: 70px;
  left: -35px;
}
.inviteFour {
  position: absolute;
  top: 70px;
  right: -35px;
}
.inviteFive {
  position: absolute;
  bottom: -16px;
  left: 8px;
}
.inviteSix {
  position: absolute;
  bottom: -16px;
  right: 8px;
}
.inviteAvatar {
  width: 60px;
  height: 60px;
  -moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}
