.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -130%);
}

.uppercase {
  text-transform: uppercase;
}

.background {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.itemz {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




.bold {
  font-weight: 700;
}

.lighter {
  font-weight: lighter;
}

*/
