.button {
  width: 99.99%;
  display: block;
  background-color: #d3d3d3;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #565656;
  text-decoration: none;
}

.buttonActive {
  background-color: #c128c9 !important;
  color: white !important;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
